.container {
    display: flex;
    padding: 50px;
}

.imageContainer {
    height: 100px;
    width: 100px;
    position: relative;
}

.left {
    flex: 2;
}

.right {
    flex: 1;
}

.table {
    border-spacing: 20px;
    width: 100%;
    text-align: left;
}

.name {
    color: #8A624A;
    font-size: 18px;
    font-weight: 600;
}

.total {
    font-size: 18px;
    font-weight: 600;
}

.wrapper {
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f3f4;
    max-height: 300;
    width: 90%;
    color: black;
    font-weight: 500;    
}

.title {
    text-decoration: underline;
    font-weight: 800;
    text-align: center;
}

.totalTextTitle {
    margin-right: 20px;
}

.button {
    background-color: #A9A9A9;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

/* for media devices */

@media screen and (max-width: 480px) {

    .container {
        padding: 22px;
        flex-direction: column;
    }

    .wrapper {
        width: 100%;
    }
    
    .table {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }

    .tableTitle {
        display: none;
    }

    .tr {
        margin-bottom: 25px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .name {
        font-size: 25px;
        font-weight: bold;
    }

    .total {
        font-size: 25px;
        font-weight: bold;
    }

    .imageContainer {
        height: 40vw;
        width: 40vw;
    }

    .specialties {
       font-size: 23px; 
    }

    .price {
        font-size: 23px;
    }

    .quantity {
        font-size: 23px;
    }

    .price::before {
        content: 'Price: ';
        font-weight: 700;
    }

    .quantity::before {
        content: 'Quantity: ';
        font-weight: 700;
    }

    .total::before {
        content: 'Total: ';
        font-weight: 700;
    }
}

.paymentMethods {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.payButton {
    cursor: pointer;
    background-color: #90ee90;
    font-size: 17px;
    font-weight: 700;
    padding: 10px 5px;
    margin-bottom: 5px;
    color: black;
}