.container {
    height: calc(100vh - 100px);
    align-items: center;
    display: flex;
    justify-content: center;
}

.wrapper {
    flex-direction: column;
    display: flex;
}

.input {
    margin-bottom: 15px;
    height: 40px;
    font-size: 16px;
    padding: 0px 10px;
}

.button {
    height: 40px;
    background-color: #90ee90;
    border: groove;
    color: black;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 15px;
}

.error {
    font-size: 15px;
    color: red;
}